<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.hiof.larseknu.playingwithfragments">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".buttonhandlingexample.ButtonHandlingActivity"
            android:label="@string/title_activity_button_handling"></activity>
        <activity
            android:name=".fragmenttabsexample.TabbedMovieActivity"
            android:label="@string/tabbed_movies">

        </activity>
        <activity
            android:name=".fragmentdetailexample.MovieActivity"
            android:label="@string/title_activity_movie">

        </activity>
        <activity
            android:name=".fragmentdetailexample.MovieDetailActivity"
            android:label="@string/title_activity_movie">

        </activity>
    </application>

</manifest>